<header>
    <h1>NotchUp</h1>
    <nav class="navbar navbar-default">
        <div class="container">

            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="" style="cursor: pointer;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="" style="cursor: pointer;">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="" style="cursor: pointer;">Contact</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>
</header>