nav {
    background-color: #ffffff;
    border: rgb(192, 188, 188) 1px solid;
    border-left: none;
    border-right: none;
    margin-top: 80px;
    border-radius: 0px;
}

nav ul {
    margin: 0px;
}

nav li {
    display: inline;
    margin-right: 40px;
}

nav li a {
    color: darkgrey;
}

nav li a:hover,
nav li a.current {
    color: #000000;
}