<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h1>
                Prepare Your Child for the future, Today!
            </h1>
            <br>
            <br>
            <h3>
                LIVE online skill development courses designed by IIT, IIM, Harvard Alumni for Ages 5-17 Years
            </h3>
        </div>
        <div class="col-md-7">
            <img src="../../assets/booktrial.png" alt="Bok Choi" class="image" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-4">
            <h2>
                Are your kids ready for the change?
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-5">
            <h2>
                Book A Free Trial Today!
            </h2>
        </div>
    </div>
</div>